{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %} {% trans "Checkout" %} {% endblock %}
{% block content %}
<main class="mt-5 pt-4">
<div class="container ">
	<h1>{% trans "Checkout" %}</h1>

	

	<div class="row">
	<form method="post" class="order-form col-6 mr-5">
	{{ form|crispy}}
	<p><input type="submit" value="{% trans 'Place order' %}" class="btn btn-primary"></p>
	{% csrf_token %}
	</form>


	
	
	<ul class="list-group list-group-flush col-5 mt-4">
		<div class="alert alert-primary" role="alert"><h3>{% trans "Your order" %}</h3></div>
	{% for item in cart %}
	<li class="list-group-item" style="background-color: #ddd">
	{{ item.quantity }}x {{ item.product.name }}
	<span>${{ item.total_price|floatformat:2 }}</span>
	</li>
	{% endfor %}
	{% if cart.coupon %}
	<li>
	{% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
      	"{{ code }}" ({{ discount }}% off)
	{% endblocktrans %}

	<span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
	</li>
	{% endif %}
	<p class="alert alert-primary" role="alert">{% trans "Total" %}: ${{cart.get_total_price_after_discount|floatformat:2 }}</p>

	</ul>


</div>
	




</div>
</main>
{% endblock %}
